<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<!--Skill Count Values. Min: 1, Max: 4 -->
		<add key="MajorSkillCount" value="3"/> 
		<add key="MinorSkillCount" value="3"/>
		
		<add key="PreventSkillConflict" value="true"/>
		
		<!--Chance Values. Max: 1-->
		<add key="AtronachChance" value="0.01"/>
		<add key="SerpentChance" value="0.005"/>
		<add key="EnchantingChance" value="0.025"/>
	</appSettings>
</configuration>